#pragma code_page(65001)  // UTF-8 encoding

#include "resource.h"
#include "winuser.h"

IDI_ICON ICON "tictactoe.ico"

IDR_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\tCtrl+N", ID_FILE_NEW
		MENUITEM "E&xit\tAlt+F4", ID_FILE_EXIT
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "I am starting the game", ID_OPTIONS_IAMSTARTING, CHECKED
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About", ID_HELP_ABOUT
	END
END

MENU_ACCELERATOR ACCELERATORS
BEGIN
	"N", ID_FILE_NEW, CONTROL, VIRTKEY //CTRL+N
END

IDD_ABOUT DIALOG DISCARDABLE  10, 10, 250, 66
	STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
	CAPTION "About the author of TicTacToe"
	FONT 9, "Segoe UI"
	BEGIN
		DEFPUSHBUTTON   "Cl&ose", IDOK, 190, 18, 50, 14
	    PUSHBUTTON      "Visit &website", ID_VISITWEBSITE, 190, 35, 50, 14
		LTEXT           "András Bögöly\r\n", IDC_STATIC, 16, 18, 144, 33
		LTEXT           "https://www.bogolyandras.com/", IDC_STATIC2, 16, 35, 144, 53
	END
