#include "resource.h"

IDI_ICON ICON "tictactoe.ico"

IDR_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\tCtrl+N", ID_FILE_NEW
		MENUITEM "E&xit\tAlt+F4", ID_FILE_EXIT
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About", ID_HELP_ABOUT
	END
END

MENU_ACCELERATOR ACCELERATORS
BEGIN
	"N", ID_FILE_NEW, CONTROL, VIRTKEY; CTRL + N
END